<!DOCTYPE html>
<html>
<head>
  <title>TechRequestApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-turbolinks="false">
<% if user_signed_in? %>
	<%= render 'layouts/navbar' %>
	<%= render 'layouts/messages' %>
<% end %>
<br>
<%= yield %>

</body>
</html>
